@model Task1PackagesSender.Models.DataWrapper;
@{
    Layout = null;
}
<form asp-action="Login" method="post">

    <div class="container">
        <div class="col-md-4" style=" text-align:center; margin:auto">
            <h3>Hi @ViewData["Login"]</h3>
            <div class="form-group">

                <input type="hidden" asp-for="currentUser.Login" value="@ViewData["Login"]" />
                <input type="hidden" asp-for="currentUser.ORG_ManagerID" value="@Model.currentUser.ORG_ManagerID" />
                <select asp-for="formData.Category">
                    @foreach (var item in ViewBag.b)
                    {
                        <option>@item</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <input asp-for="formData.TotalValue" />
            </div>

            <button type="submit">Find Acceptant</button>
            @if (Model.formData != null)
            {
                <p>Your Acceptant @ViewData["Acceptant"]</p>
                <p>Substitute Acceptant  @ViewData["SubstituteAcceptant"]</p>
                <p style="color:red;">@ViewData["Error"]</p> 
            }

        </div>
    </div>

</form>
<div class="col-md-4" style=" text-align:center; margin:auto; height:40px; width:60px; border-color:aqua;">
    <a style="text-decoration:none; color:blue; font:600" class="btn btn-info" asp-action="Index">LogOut</a>
 </div>

